<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huihui.aligo.mapper.SmsServiceMapper">


    <insert id="insert" parameterType="com.huihui.aligo.model.SmsServiceModel" keyColumn="id" useGeneratedKeys="true">
        insert into t_sms_service
        (
         id,
         identity,
         phone_number,
         verify_code,
         create_time
        ) values (
        #{id},
        #{identity},
        #{phoneNumber},
        #{verifyCode},
        #{createTime}
        )
    </insert>


</mapper>